@charset "UTF-8";
/* CSS Document */ 

@import url(http://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,600,700); 

a:link{ color: #fff; text-decoration: none; opacity: .5 }
a:hover{ color: #fff; text-decoration: none; opacity: 1 }
a:active{ color: #fff; text-decoration: none; opacity: 1 }
a:visited{ color: #fff; text-decoration: none; opacity: .5 }

::-webkit-input-placeholder { color: inherit; opacity: .3 } 
::-moz-placeholder { color: inherit; opacity: .3 } 
::-moz-placeholder { color: inherit; opacity: .3 } 
::-ms-input-placeholder { color: inherit; opacity: .3 } 

input:focus::-webkit-input-placeholder {  opacity:0 } 
input:focus:-moz-placeholder { opacity: 0 } 
input:focus::-moz-placeholder {  opacity: 0 }  
input:focus:-ms-input-placeholder {  opacity: 0} 

body, html{
	color:#333;
	font-size:11px;
	font-weight:400;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
} 
  
.bold{ font-weight:700} 
.light{ font-weight:100} 

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} 

::-webkit-scrollbar {
    height: 18px;
    width: 18px;
} 
/* Track */
::-webkit-scrollbar-track {
	background-color:#fff;
	border-radius:2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border:#fff 5px solid;
	background-color:#ccc; 
}::-webkit-scrollbar-thumb:hover{ 
	background-color:#333; 
}

/* BUSINESS */

#title{
	position: fixed;
	top: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 400px;
	z-index: 1; 
	text-align: center; 
	font-size: 24px;
	font-weight: 200;
}

#categ{
	position: fixed;
	top: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 400px;
	z-index: 1;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 100;
	z-index: 1;
}

#categ_icon{
	position:absolute;
	top:-12px;
	right:0;
}

#categ_lb{ font-weight:300; text-transform: uppercase}  

#filter_bts{
	position: fixed; 
	width: 400px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 6;
}

.filter_bt{
	height:30px;
	cursor:pointer;
	position:absolute;
	width:100%;
	text-transform: uppercase;
}

.filter_lb{
	width:100%;
	font-size: 24px;
	color: #fff;
	text-align: center;
	font-weight: 100;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-top:12px; /* hack */
}
 
/* map */ 

#connections{
	position:absolute;
	z-index: 1;
}

#radar{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
}

.tech_lb{
	font-size: 5px;
	font-weight: 200;
}
 
.radar_lb{ 
	font-size: 6px;
	font-weight: 100;
} 

.radar_scale{ 
	font-size: 4px;
	font-weight: 200;
}

.macro .tech_lb{ font-size: 4px } 
.lb_off .tech_lb{ display: none } 
.tech { cursor: pointer }

/* BTS */

.bt {
	width:42px;
	height:42px;
	position:absolute;
	background-color:#fff;
	border-radius:1px;
	cursor:pointer;
	z-index:1;
}

.bt svg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 3px;
	left: 3px;
}

#bt_zoom_in {
	right:10px;
	bottom:53px;	
} 

#bt_zoom_out {
	right:10px;
	bottom:10px;	
}



/* SCALE SLIDER */

#track {
	height: 28px;
	width: 328px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 20px;
	margin: 0 auto ; 
	z-index: 1;
	background: #fff;
	border-radius: 15px;
}  

#slider {
	position: absolute;
	left: 150px;
	top: 0;
	cursor:ew-resize;
	padding: 3px;
	z-index: 3;
}

#slider_circle {
	width: 22px;
	height: 22px;
	border-radius: 20px;
	border: #fff 3px solid;
}
 
#slider_sep {
	width: 28px;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 150px;
}

#slider_sep svg{
	position: absolute;
	top: 0;
	left: 0;
}

#slider_lb_right{
	position: absolute;
	top: 7px;
	z-index: 2;
	right: 30px;
	font-size: 12px
}

#slider_lb_left{
	position: absolute;
	top: 7px;
	z-index: 2;
	left: 30px;
	font-size: 12px
}
 

/* SETTINGS */ 

#curtain{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0;
}

#bt_settings{
	top:10px;
	right: 10px;
	z-index: 4;
}

#settings{
	width: 500px;
	height: 360px;
	margin: auto;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 6;
	font-size: 18px;
	color: #fff;
	border-bottom: #fff 1px solid;
} 

.settings_title{
	width: 100%;
	text-align: center;
	margin: 26px 0 36px 0;
	display: table;
	font-weight: 600;
	position: relative;
	top: -30px
} 

.settings_title span { width: 20%; float: left; text-align: center} 
.hr_l { width: 40%; float: left; margin-top: 6px  } 
.hr_r { width: 40%; float: right; margin-top: 6px  } 

 
.setting{
	width: 100%;
	height: 36px;
	font-weight: 100;
	position: relative;
	top: -30px
}

.setting_bt{
	position: absolute;
	right: 0;
	top: -6px;
	width: 115px;
	height: 26px;
	background: #fff;
	border-radius: 15px;
	overflow: hidden;
	padding: 6px 0;
	text-align: center;
	cursor: pointer;
	font-weight: 700;
	font-size: 14px;
	color: #333;
}  
 
#user{
	position: absolute;
	top: 15px;
	right: 60px;
	cursor: pointer;
	z-index: 2;
}

#user svg{
	position: absolute;
	right: 0;
	width: 36px;
}

#user_lb{
	color: #fff;
	text-align: right;
	position: absolute;
	right: 40px;
	top: 14px;
}

input{
	width: 250px;
	padding: 6px 12px;
	background: #fff;
	border-radius: 3px;
	float: right;
	border: none;
	font-size: 14px;
	position: relative;
	top: -10px;
}

.setting_bt2{
	margin-bottom: 10px;
	position: relative;
	top: -6px;
	float: right;
	width: 115px;
	height: 26px;
	background: #fff;
	border-radius: 15px;
	overflow: hidden;
	padding: 6px 0;
	text-align: center;
	cursor: pointer;
	font-weight: 700;
	font-size: 14px;
	color: #333;
	margin-left: 20px;
}

.setting_link{
	float: right;
	width: 115px;
	height: 26px;
	color: #fff;
	padding: 7px 0;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	position: relative;
	top: -6px;
}

/* ALERT */

#alert_msg{ 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background: rgba(255,255,255,.9);
}

#alert_box{
	position: absolute;
	width: 500px;
	height: 200px;
	margin:  auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 6;
	font-size: 18px;
	text-align: center;
	color: #333;
	padding: 50px 20px;
	line-height: 24px;
}

.alert_bt{
	width: 115px;
	border-radius: 15px;
	overflow: hidden;
	padding: 2px 0;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	background: #333;
	color: #fff;
	display: inline-block;
	margin: 30px 10px;
}  

/* SEARCH */ 

#bt_search{
	top:10px;
}

#list_container{
	position:fixed;
	top:0;
	left:0;
	width:385px;
	height:100%;
	left:-390px; 
	z-index:2;
}

#list{
	width:380px;
	background:#fff;
	position:absolute;
	bottom:10px;
	left:10px;
	overflow:auto;
	overflow-x:hidden; 
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
	border:#fff 1px solid;
}

.list_div{
	width:380px;
	height:36px;
	background:#fff;
	border-bottom:#eee 1px solid;
	position:absolute; 
	left:10px;
	overflow:hidden;
}

.list_bt{
	height:36px;
	display:table;
	cursor:pointer;
}  

.label{
	padding-left:20px;
	width:100%;
	display:table-cell;
	vertical-align:middle;
} 


#list_type{
	top:15px;
	border-radius:2px;
	font-weight: 600;
}

#list_type svg{ position: relative; top: 3px; right: 3px;}

#search_container {
	top: 10px;
	background: #fff;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	height: 42px;
}

#search {
	border: none;
	width: 100%;
	height: 100%;
	padding: 5px 20px;
	outline: 0;
	background: none;
	font-size: 12px;
	margin-top: 10px;
}

#search_ico{
	position: absolute;
	right: 0;
	z-index: 2;
	cursor: pointer;
}



/* FILTER */

#filter{
	top:89px;
	border:none;
	display: none
} 

#filter_ico{
	position:absolute;
	top:0;
	right:7px;	
} 

#filter_lb{
	color:#333;	
}	

#filter_hit{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:36px;
	z-index:2;
	cursor:pointer;
}  
 


/* ITEM */

.itm{
	width:100%;
	height:60px;
	border-bottom:#fff 1px solid; 
	overflow:hidden;
	position:relative;
	cursor: pointer;
}

.itm_img{
	width:60px;
	height:60px;
	background-size:cover;
}

.itm_logo{
	width:60px;
	height:60px;
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center;
	border: 10px #fff solid;
}

.itm_mask{
	position: absolute;
	width:60px;
	height:60px;
	top: 0;
	left: 0;
	z-index: 40;
}

.itm_lb{
	position:absolute;
	left:80px;
	top:22px;
	width:260px;
	height:30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:13px;
}

.itm_bars{
	width:250px;
	height:20px;
	position:absolute;
	left:80px;
	top:35px;
	overflow:hidden;
}

.bar{
	width:100%;
	height:2px;
	position:absolute;
	left:0;
}  

/* INFO */

#info_container{
	position: fixed;
	width: 385px;
	height: 100%;
	left: -385px;
	z-index: 2;
}

#info{
	position: absolute;
	top: 15px;
	left: 15px;
	background: #fff;
	padding: 20px;
	border-radius:2px;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* CARD */

#cards{
	position:fixed;
	right:-830px;
	top:0;
	bottom:0;
	margin:auto 0;
	width: 770px;
	height:430px;
}


.card{
	float: left;
	margin-right: 2px;
	width:250px;
	height:430px;
	background-color:#fff; 
	border-radius:2px;
	position: relative;
}

#bt_close_card{
	position:absolute;
	left:-51px;
	top:0;
}

#bt_card_settings{ 
	position:absolute;
	left:-51px;
	top:38px;
}

#bt_star{
	position:absolute;
	left:10px;
	top:48px;
	cursor: pointer;
}

#card_ico{
	position: absolute;
	top: 10px;
	left: 14px;
}

#card_ico_lb{
	position: absolute;
	top: 16px;
	left: 45px;
	color: #666;
	font-size: 10px;
	font-family: Arial, sans-serif;
}

#card_img{
	height:140px; 
	background-repeat: no-repeat;
	background-position: center;
	border:#fff 1px solid; 
	overflow: hidden;
	border-radius: 3px;
}

.tech_img{ 
	width:250px;
	background-size: cover;
}

#card_data{
	width:100%;
	padding:20px 10px 0 20px;
	height:255px;
	overflow-y:scroll;
	overflow-x:hidden;
	position: relative;
	background: #fff;
}

#card_name{
	font-size:18px;
	font-weight:600;
	margin-bottom:25px;
	margin-top:36px;
	width: 100%;
	line-height: 20px;
} 

#card_description{
	line-height:16px;
	margin-bottom:10px;
	font-size: 12px;
	padding-bottom: 20px;
}

.card_title{
	font-weight: 700;
	font-size: 10px;
}

/* READ MORE */

.bt_card_bottom{ 
	width:250px;
	height:36px;
	font-weight: 600;
	border-top:#eee 1px solid;
	display:table;
	position:absolute;
	left:0;
	bottom:0;
	cursor: pointer;
}

#read_more_ico{
	position:absolute;
	top:0;
	right:7px;	
} 

#logo_client {
	position: fixed;
	bottom: 10px;
	left: 15px;
	cursor: pointer;
	width: 150px;
} 

#card_location {
	margin-bottom: 10px; 
}

#envisioning{
	position: fixed;
	z-index: 1;
	bottom: 25px;
	left: 70px;
}
